body{
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
}
.overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 3;
}
.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}
.slides-navigation a.prev {
	left: 20px;
}
.slides-navigation a.next {
	right: 20px;
}
.titleMessage {
	position: absolute;
	height: 250px;
	width: 100%;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}
.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	font-weight: 100;
	letter-spacing: 7px;
}
.titleMessage .heading .main{
	font-size: 50px;
}
.titleMessage .heading .sub{
	font-size: 23px;
}
.slides-navigation{
	z-index: 6;
}
.section{
	padding: 100px 0;
}
.aboutImage{
	max-width: 100%;
	height: 75%;
}
.skillsSection,
.contactSection{
	background-color: #e74c3c;
	color: #fff; 
}
.skill{
	text-align: center;
	margin-left: 10px;
}
.chart{
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}
.chart canvas{
	position: absolute;
    left: 0;
    top: 0;
}
.chart .percent{
	line-height: 152px;
    color: #000;
    display: inline-block;
    font-size: 32px;
}
.chart .percent:after{
	content: '%';
}
.squareItem{
	margin-top: 30px;
    position: relative;
}
.squareInnerContainer{
	position: relative;
    padding: 30px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}
.squareInnerContainer:before,
.squareInnerContainer:after{
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}
.squareInnerContainer:before{
	right: 0px;
}
.squareInnerContainer:after{
	left: 0px;
}
.squareContent h2{
	font-size: 56px;
	font-weight: 400px;
	margin-bottom: 10px;
	color: #e74c3c;
}
.squareContent h3{
	font-size: 14px;
	font-weight: 600px;
	margin: 0;
}
.squareIcon{
	position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}
.contactButton{
	color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.contactButton:hover{
	color: #e74c3c;
	background-color: #fff;
	text-decoration: none;
}
.copyrightSection{
	background-color: #000;
	color: #fff;
	padding: 30px 5px;
}
.copyrightSection p{
	margin: 0;
}
#navigation{
	background-color: #e74c3c;
    padding: 20px 10px;
    z-index: 100;
    width: 100%
}
#navigation li{
	padding: 0 10px;
}
#navigation li a{
	color: #fff;

}
.navbar-brand,
.navbar-brand:hover{
	color: #fff;
}
.navbar-toggler-icon{
	background: url(../img/icon-menu.png);
	background-size: 100%;
}
.fixedNav #navigation{
	position: fixed;
	top: 0;
}
.loader{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: #fff;
	z-index: 1000;
}
.loader .inner{
	width: 100%;
	height: 100%;
	background: url("../img/loader.gif") center center no-repeat;
}